<div class="home-question-container">
    <div class="home-question-container-header row">
        <div class="home-question-container-header-secondary col">

            {# Bouton pour désactiver la réponse #}
            {% if is_granted('ROLE_MODERATOR') %}
                <a class="home-question-link-admin js-active" href="{{ path('backend_reponse_active', {'id': reponse.id}) }}">
                    <i class="fas fa-times-circle home-question-icon-admin"></i>
                </a>
            {% endif %}

        </div>
    </div>
    <p class="home-question-container-body primary-text-4">{{ reponse.body }}</p>
    <div class="home-question-container-footer row ">
        <div class="home-question-container-footer-secondary">
            <div class="home-question-footer-author">Réponse de :
                <a class="home-question-link primary-text-0" href="{{ path('search_author', {'id': reponse.author.id}) }}">{{ reponse.author|capitalize }}</a>
                Le :
                {{ reponse.createdAt|date('d-m-Y') }}
            </div>
        </div>
        <div class="home-question-container-footer-secondary">

            {% if is_granted('ROLE_USER') %}

                {# Vérifie si la personne connecté est l'auteur de la question #}
                {% if reponse.author.id == app.user.id %}
                    <a href="{{ path('reponse_edit', {'id': reponse.id}) }}" class="btn btn-success"><i class="fas fa-edit"></i></a>
                    <a class="btn btn-danger delete-reponse js-delete-reponse" data-id="{{ reponse.id }}" data-token="{{ csrf_token('delete' ~ reponse.id) }}"><i class="fas fa-trash-alt"></i></a>
                {% endif %}

                {# Vérifie si la question a été posé par la personne connecté afin de choisir la bonne réponse #}
                {% if reponse.question.author.id == app.user.id %}
                    <a href="{{ path('best_reponse', {'id': reponse.id}) }}" class="btn btn-warning"><i class="fas fa-trophy"></i></a>
                {% endif %}
                

            {% endif %}
        </div>

        <div class="home-question-vote">
            <a href="{{ path('reponse_like', {'id': reponse.id}) }}" class="btn btn-link js-like">
                {% if app.user and reponse.isReponseLikedByUser(app.user) %}
                    <i class="fas fa-thumbs-up"></i>
                {% else %}
                    <i class="far fa-thumbs-up"></i>
                {% endif %}
                <span class="js-likes">{{ reponse.likes | length }}</span>
                <span class="js-label">J'aime</span>
            </a>
        </div>

    </div>
</div>