{% extends 'backend/backend_layout.html.twig' %}

{% block titleAdmin %}QUESTION{% endblock %}

{% block bodyAdmin %}
    <h1 class="backend-title primary-0 primary-text-4">Liste des questions</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th class="text-center" style="width: 10%;">Crée le</th>
                <th class="text-center" style="width: 5%;">Likes</th>
                <th class="text-center" style="width: 5%;">Réponses</th>
                <th class="text-center" style="width: 20%;">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr class={{ question.isActive ? "" : "alert-danger" }}>
                <td>{{ question.title }}</td>
                <td class="text-center">
                    <div>{{ question.createdAt|date('d-m-Y') }}</div>
                    <div>{{ question.createdAt|date('H:i') }}</div>
                </td>
                <td class="text-center">{{ question.likes|length }}</td>
                <td class="text-center">
                    <a class="btn-link" href="{{ path('backend_question_listReponse', {'id': question.id}) }}" title="Voir la liste des réponses">{{ question.reponses|length }}</a>
                </td>
                <td class="text-center">
                    <a class="btn btn-info" href="{{ path('backend_question_show', {'id': question.id}) }}" title="Afficher la question"><i class="far fa-eye"></i></a>
                    <a class="btn btn-success" href="{{ path('backend_question_edit', {'id': question.id}) }} " title="Modifier la question"><i class="far fa-edit"></i></a>
                    <a class="btn btn-warning js-active admin" href="{{ path('backend_question_active', {'id': question.id}) }}" title="Activer / Désactiver la question"><i class="fas fa-exclamation-triangle"></i></a>

                    {{ include('backend/question/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Pas de question trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="pagination-wrapper">
        <div class="pagination">
            {{ knp_pagination_render(questions) }}
        </div>
    </div>

{% endblock %}