{% extends 'backend/backend_layout.html.twig' %}

{% block titleAdmin %}USER{% endblock %}

{% block bodyAdmin %}
    <h1 class="backend-title primary-0 primary-text-4">Liste des membres</h1>

    <table class="table">
    
        <thead>
            <tr>
                <th style="width: 15%;">Pseudo</th>
                <th>Email</th>
                <th class="text-center" style="width: 10%;">Modifié le</th>
                <th class="text-center" style="width: 10%;">Role</th>
                <th class="text-center" style="width: 10%;"># Questions</th>
                <th class="text-center" style="width: 10%;"># Réponses</th>
                <th class="text-center" style="width: 10%;"># Likes</th>
                <th class="text-center" style="width: 15%;">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td class="text-center">
                    <div>{{ user.updatedAt|date('d-m-Y') }}</div>
                    <div>{{ user.updatedAt|date('H:i') }}</div>
                </td>
                <td class="text-center">{{ user.role }}</td>
                <td class="text-center">{{ user.questions|length }}</td>
                <td class="text-center">{{ user.reponses|length }}</td>
                <td class="text-center">{{ (user.questionLikes|length) + (user.reponseLikes|length) }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('backend_user_show', {'id': user.id}) }}" title="Afficher la fiche du membre"><i class="far fa-eye"></i></a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-success" href="{{ path('backend_user_edit', {'id': user.id}) }}" title="Modifier le rôle"><i class="far fa-edit"></i></a>
                    {% endif %}

                    {{  include('backend/user/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas de membre trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="pagination-wrapper">
        <div class="pagination">
            {{ knp_pagination_render(users) }}
        </div>
    </div>

{% endblock %}