{% extends 'backend/backend_layout.html.twig' %}

{% block titleAdmin %}SHOW{% endblock %}

{% block bodyAdmin %}
    <h1 class="backend-title primary-0 primary-text-4">Membre - {{ user.username|capitalize }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Pseudo</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Crée le</th>
                <td>{{ user.createdAt|date('d-m-Y à H:i') }}</td>
            </tr>
            <tr>
                <th>Modifié le</th>
                <td>{{ user.updatedAt|date('d-m-Y à H:i') }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ user.role }}</td>
            </tr>
            <tr>
                <th>Nombre de Questions</th>
                <td>{{ user.questions|length }}</td>
            </tr>
            <tr>
                <th>Nombre de Réponses</th>
                <td>{{ user.reponses|length }}</td>
            </tr>
            <tr>
                <th>Nombre de Questions Likées</th>
                <td>{{ (user.questionLikes|length) }}</td>
            </tr>
            <tr>
                <th>Nombre de Réponses Likées</th>
                <td>{{  (user.reponseLikes|length) }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('backend_user_index') }}" title="Retour à la liste"><i class="fas fa-backward"></i></a>

    {{ include('backend/user/_delete_form.html.twig') }}
{% endblock %}