{% extends 'backend/backend_layout.html.twig' %}

{% block titleAdmin %}REPONSE{% endblock %}

{% block bodyAdmin %}
    <h1 class="backend-title primary-0 primary-text-4">Liste des réponses</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Réponse</th>
                <th class="text-center" style="width: 10%;">Crée le</th>
                <th class="text-center" style="width: 10%;">Auhteur</th>
                <th class="text-center" style="width: 5%;">Likes</th>
                <th class="text-center" style="width: 15%;">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reponse in reponses %}
            <tr class={{ reponse.isActive ? "" : "alert-danger" }}>
                <td>{{ reponse.body }}</td>
                <td class="text-center">
                    <div>{{ reponse.createdAt|date('d-m-Y') }}</div>
                    <div>{{ reponse.createdAt|date('H:i') }}</div>
                </td>
                <td class="text-center">{{ reponse.author|capitalize }}</td>
                <td class="text-center">{{ reponse.likes|length }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('backend_reponse_edit', {'id': reponse.id}) }}" title="Modifier la réponse"><i class="far fa-edit"></i></a>
                    <a class="btn btn-warning js-active admin" href="{{ path('backend_reponse_active', {'id': reponse.id}) }}" title="Activer / Désactiver la réponse"><i class="fas fa-exclamation-triangle"></i></a>

                    {{ include('backend/reponse/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas de réponse trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}